# Variables para el frontend de Vite y el script de Node
# Pega aquí tu Secret Key de OpenAI que empieza por "sk-..."

VITE_OPENAI_API_KEY="sk-tu_llave_de_openai_aqui"
OPENAI_API_KEY="sk-tu_llave_de_openai_aqui"
